* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

#header {
  background: url('../src//images/programming-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 300px;
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  color: #fff;
  font-weight: bolder;
  background: #009900;
  margin-top: 25px;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.9;
}

.container {
  width: 70%;
  margin: auto;
}

#main-dp {
  margin: 10px auto;
}

#main-dp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#about-me,
#contact-me {
  padding: 10px;
  background: #e6e6e6;
  border-radius: 4px;
  margin-bottom: 10px;
}

.services-content {
  background: #e6e6e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#link {
  color: #009900;
  text-decoration: none;
  font-weight: bold;
}

.technical-content img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

#footer {
  margin: 40px auto 80px auto;
}

#skill-logo {
  font-size: 50px;
}

.technical-content {
  padding: 10px;
}

.sub-heading {
  padding: 8px;
}

.project-content {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e6e6e6;
  color: #fff;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  /* padding: 5px; */
  text-align: center;
}
.text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 10px;
}
.project-content:hover .overlay {
  opacity: 0.9;
}

#visit-website {
  text-decoration: none;
  color: #009900;
}



/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .header-content {
    width: 20%;
  }
}
