@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.5;
  text-align: center;
  color: #222222;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container-row {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

#contact-details {
  color: #009900;
  font-size: 22px;
  padding: 2px 6px;
  border-radius: 4px;
  transition: 0.2s ease-in;
}

.treezy-color {
  color: #009900;
}

#contact-details:hover {
  background: #000;
  color: #fff;
}

.margin-top-bottom {
  margin: 10px auto;
}

.margin-top-bottom-2 {
  margin: 20px auto;
}

.header-content {
  font-weight: bolder;
  margin-top: 25px;
}

.container {
  width: 70%;
  margin: auto;
}

#main-dp {
  margin: 10px auto;
}

#main-dp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.services-content {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#link {
  color: #009900;
  text-decoration: none;
  font-weight: bold;
}

.technical-content img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

#footer {
  margin: 40px auto 80px auto;
}

#skill-logo {
  font-size: 50px;
  color: #009900;
}

.technical-content {
  padding: 10px;
}

.sub-heading {
  padding: 8px;
}

.project-content {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e6e6e6;
  color: #fff;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  /* padding: 5px; */
  text-align: center;
}
.text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 10px;
}
.project-content:hover .overlay {
  opacity: 0.9;
}

#visit-website {
  text-decoration: none;
  color: #009900;
}

#show-and-hide-buttons {
  background: #222222;
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  padding: 15px 8px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

#show-and-hide-buttons:hover {
  background: #009900;
  color: #222222;
}

#about-me {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.text-center {
  text-align: center;
}

.view-project-button {
  text-decoration: underline;
  /* font-weight: bold; */
  font-size: 20px;
  color: #222222;
  padding: 12px 8px;
  border-radius: 4px;
  transition: 0.2s ease-in;
}

.view-project-button:hover {
  background: #009900;
  color: #fff;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .flex-container-row {
    max-width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
