*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

img{
  width: 100%;
}

#header{
  background: #000;
  color: #fff;
  padding: 10px;
}

.container{
  width: 70%;
  margin: auto;
}

#main-dp{
  margin: 10px auto;
}

#main-dp img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#about-me, #contact-me{
  padding: 10px;
  background: #e6e6e6;
  border-radius: 4px;
  margin-bottom: 10px;
}

.services-content, .project-content, .technical-content{
  background: #e6e6e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#link{
  color: #009900;
  text-decoration: none;
  font-weight: bold;
}

.technical-content img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

#footer{
  margin: 40px auto 80px auto;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .two-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .three-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .three-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}